<div id="sub_menu">
    <% unless @root_page.nil? %>
    <ul id="submenu">
        <% sub_pages_1 = @root_page.children %>
        <% sub_pages_1.each do |sub_page_1| %>
        <li>
            <%= link_to "#{sub_page_1.name}", sub_page_1 %>
        </li>
        <ul id="submenu">
            <% sub_pages_2 = sub_page_1.children %>
            <% sub_pages_2.each do |sub_page_2| %>
            <li>
                <%= link_to "#{sub_page_2.name}", sub_page_2 %>
            </li>
            <ul id="submenu">
                <% sub_pages_3 = sub_page_2.children %>
                <% sub_pages_3.each do |sub_page_3| %>
                <li>
                    <%= link_to "#{sub_page_3.name}", sub_page_3 %>
                </li>
                <% end %>
            </ul>
            <% end %>
        </ul>
        <% end %>
    </ul>
    <% else %>
    <div id="sidebar">
        <h1>Zuletzt geändert</h1>
        <ul id="submenu">
            <% pages = Page.all(:conditions => ("inactive = false"), :order => "updated_at DESC", :limit => 5) %>
            <% pages.each do |page| %>
            <li style="background-color:silver; border-bottom:20px solid white;">
                <%= link_to page.name, :controller => "pages", :action => "show", :id => page.id %>
                <p style=" text-align:center;">
                    <%= page.updated_at.strftime("%d. %m. %Y, %H:%M") %>
                </p>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>
