<div id="sub_menu">
    <% unless @root_page.nil? %>
    <ul id="submenu">
        <% sub_pages_1 = @root_page.children %>
        <% sub_pages_1.each do |sub_page_1| %>
        <li>
            <%= link_to "#{sub_page_1.name}", sub_page_1 %>
        </li>
        <ul id="submenu">
            <% sub_pages_2 = sub_page_1.children %>
            <% sub_pages_2.each do |sub_page_2| %>
            <li>
                <%= link_to "#{sub_page_2.name}", sub_page_2 %>
            </li>
            <ul id="submenu">
                <% sub_pages_3 = sub_page_2.children %>
                <% sub_pages_3.each do |sub_page_3| %>
                <li>
                    <%= link_to "#{sub_page_3.name}", sub_page_3 %>
                </li>
                <% end %>
            </ul>
            <% end %>
        </ul>
        <% end %>
    </ul>
    <% else %>
    <h1>Neuigkeiten</h1>
    <ul id="submenu">
        <% posts = Post.all(:order => "updated_at DESC", :limit => 5) %>
        <% posts.each do |post| %>
        <li>
            <%= link_to post.title, :controller => "posts", :action => "show", :id => post.id %>
        </li>
        <% end %>
    </ul>
    <h1>Geänderte Seiten</h1>
    <ul id="submenu">
        <% pages = Page.all(:conditions => ("inactive = false"), :order => "updated_at DESC", :limit => 5) %>
        <% pages.each do |page| %>
        <li>
            <%= link_to page.name, :controller => "pages", :action => "show", :id => page.id %>
        </li>
        <% end %>
    </ul>
    <% end %>
</div>
