<ul id="nav">
    <% if current_user %>
    <li>
        <%= link_to "Home", root_url %>
    </li>
    <li>
        <%= link_to "Mail", inbox_path %>
    </li>
    <% end %>
    <% if current_user and current_user.has_role? :admin %>
    <% pages = Page.find_all_by_parent_id(nil) %>
    <% pages.each do |page| %>
    <li>
        <%= link_to h(page.name), page %>
    </li>
    <% end %>
    <% end %>
    <% if current_user and !current_user.has_role? :admin %>
    <% pages = Page.find_all_by_inactive_and_parent_id(false, nil) %>
    <% pages.each do |page| %>
    <li>
        <%= link_to h(page.name), page %>
    </li>
    <% end %>
    <% end %>
    <% if current_user and current_user.has_role? :admin %>
    <li>
        <%= link_to "New Page", new_page_path %>
    </li>
    <% end %>
</ul>
